body { font-family: helvetica; }
.eventAbout { text-align: justify; }
.eventContainer {  }
p.yetiText { font-size: 14px; text-align: justify;}
.yetiContainer { text-align: center; }

/* Custom overrides to Mail Chimp CSS Styles */
#mc_embed_signup {  }
